.connect {
    right: 0;
    width: 280px;
    /* height: 120px; */
    position: absolute;
    margin-top: 25px;
    margin-right: 40px;
    cursor: pointer;
    /* background-color: tomato; */

    
}

.address {
    text-shadow: -1px 0 #3d3a3c, 0 1px #3d3a3c, 1px 0 #3d3a3c, 0 -1px #3d3a3c;
    font-family: "Comic Sans MS";
    color: #9d7cbd;
    font-size: 20px;
    position:absolute;
    width: 250px;
    right: 0;
    margin-top: 100px;
    margin-right: 50px;

}