.main_body {
    /* margin: auto; */
    /* margin-top: 25px; */
    width: 90%;

    margin-left: 5%;
    /* box-shadow: inset 0 0 10px #e0c0fd; */
    /* width: 99vw; */
    height: 70%;
    /* background-color: #e0c0fd; */
    /* align-self: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* gap: 80px 80px; */
    /* overflow-y: auto; */

}