
.landing-wrapper {
  min-height:100vh;
  background-image: url("https://arweave.net/4CVkKFTUA4R7NbC6x1Fyr10FZsOArzfD_BhHXShJeJA");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative;
  max-height: 100vh;
  max-width: 100vh;
  background-repeat: no-repeat;
  background-size: cover; */
 

  /* height: 100%; */
  
}

