
.landing-wrapper {
  width: 100vw;
  height:100vh;
  /* position: fixed; */
  /* height: 100%; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* background-image: url("https://arweave.net/4CVkKFTUA4R7NbC6x1Fyr10FZsOArzfD_BhHXShJeJA");
  background-size: cover;
  background-repeat: no-repeat; */

  
}



